<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>Basic html</title>
    </head>
    <body>
        <h1>get form</h1>
        <form class="" action="/" method="get">
            <input type="text" name="message" value=""><br>
            <button type="submit">Get Submit</button>
        </form>
        <h1>post form</h1>
        <form class="" action="/msg" method="post">
            <input placeholder="title" type="text" name="title" value=""><br>
            <input placeholder="message" type="text" name="message" value=""><br>
            <button type="submit">Post Submit</button>
        </form>
        <div class="">
            {{messages}}
        </div>
    </body>
</html>
